<div class="container">
  <div class="anagram-form">
    <form action="/" method="post">
    <br/>
    <input type="text" name="dictionary_word">
    <input type="submit" value="find anagrams">
  </div>

  <div class="results">
    
    <ul class="anagram-result">
      
    </ul>
  </div>
</div>
